* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(78, 81, 87);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 50px;
}

form {
  background-color: rgba(255, 255, 255, 0.857);
  border: 1px solid black;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: rgb(57, 59, 60);
  gap: 16px;
}

.form_row {
  display: flex;
  gap: 8px;
}

.form_item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.form_button_section {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.user_details_h2 {
  width: 360px;
}

h2 {
  font-size: 1em;
}

#lName {
  margin: 0;
}

.btn_section {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.mid_section {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.mid_section select {
  margin-bottom: 10px;
}

button {
  background-color: #2f58cd;
  color: aliceblue;
  padding: 0 10px;
  border-radius: 3px;
}

input,
select,
textarea {
  border: 1px rgb(41, 39, 39) solid;
  border-radius: 3px;
  padding: 2px;
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button[type="reset"]:focus,
button[type="reset"]:hover {
  background-color: rgb(234, 16, 16);
  transition: all 0.2s ease-out;
}

button[type="submit"]:focus,
button[type="submit"]:hover {
  background-color: rgb(30, 234, 16);
  transition: all 0.2s ease-out;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid rgb(97, 197, 21);
  border-radius: 2px;
  transition: all 0.2s ease-out;
}
